<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ renderData.description or description or metadata.description }}">

<!-- Metas con información -->

  <meta name="keywords" content="Juanma,Pérez,Pauso,HTML,CSS,jquery,Cinema4D,Diseñador,Gráfico,Fotografo,Motion Grapher,Video,ilustración,Photoshop,Sketch,Illustrator,Indesign,After Effects,UI,UX,3D,Game,Games,APP,Android,IOS,Mac,Draw,dibujo,responsive">
  <meta name="author" content="Juanma Pérez Pauso">

  <meta property="og:url"                content="http://www.juanmapauso.com" />
  <meta property="og:type"               content="article" />
  <meta property="og:title"              content="Juanma Pérez Diseñador Gráfico" />
  <meta property="og:description"        content="Portfolio de Juanma Pérez Diseñador Gráfico" />
  <meta property="og:image"              content="http://www.juanmapauso.com/rrss/facebook.jpg" />

<!-- fin de Metas -->

  <title>{{ renderData.title or title or metadata.title }}</title>
  <link rel="stylesheet" href="../assets/css/styles.css">
</head>
<body>