--- 
layout: layouts/base.njk 
title: Acerca de 
eleventyNavigation: 
  key: acercaDe 
  title: Acerca de 
  order: 3
---

<div class="col-12">
    <h1>Acerca de</h1>
    <p>
        otra pagina más.

    </p>
    
</div>