--- 
layout: layouts/base.njk 
title: Contacto
eleventyNavigation: 
  key: contacto
  title: Contacto
  order: 4
---

<div class="col-12 fondo">
    <h1>Contacto</h1>
    <p>
        mandame un email.

    </p>
    
</div>