---
layout: layouts/base.njk
title: Juanma Pauso
eleventyNavigation:
  key: Home
  order: 1
---
<div>
  <h1>HOME</h1>
  <h2>Comprobar como se actualiza, otra vez</h2>
  <p>
    Hola people.
  </p>
</div>